variable "aws_access_key" {}
variable "aws_secret_key" {}
variable "aws_region" {
    default = "us-west-1"
}
variable "aws_key_name" {}

variable "aws_vpn_ami" {
	default = "ami-918e62d5"
}
variable "aws_nat_ami" {
	default = "ami-7da94839"
}
variable "aws_ubuntu_ami" {
  default = "ami-df6a8b9b"
}

variable "vpc_cidr" {
  default = "10.0.0.0/16"
}

variable "aws_dns_zone" {
  default = "zombo.gop"
}

variable "aws_zones" {
    default = {
        zone0 = "us-west-1a"
        zone1 = "us-west-1b"
        zone2 = "us-west-1c"
    }
}

variable "db" {
  default = {
    name = "database_name"
    username = "foobar"
    password = "password"
  }
}
